.display-wrapper {
	margin: 1rem 0 1rem 1rem;
}

.display {
	position: relative;

	width: 20rem;
	height: 11.25rem;

	border: #222 3px solid;
	border-radius: 5px;

	background-color: #222;
	background-size: 100% auto;
	background-clip: content-box;
}

.display-target {
	composes: display;
	border: #b11c20 3px solid;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	transition: ease .3s;
}

.overlay:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, .5);
}

.icons {
	color: inherit;
}

.icon {
	fill: #fff;

	width: 3em;
	height: 3em;
}
