*, *:before, *:after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

.header{
  width: 100%;

  background: #222;
}

.header-content{
  height: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 4rem;
}

.side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  color: inherit;
  display: flex;

  text-transform: uppercase;
  list-style: none;
  font-size: 1.2rem;
  color: #FFF;
}

.menu li{
  margin-left: 1rem;
  flex:1;
}
.menu li:last-child{
  margin-right: 1rem;
}

.logo img{
  display: flex;
  height: 1em;
}
