.hints-wrapper {
	margin: 1rem;
}

.hints {
	display: flex;
	align-items: center;
	align-content: center;
	flex-flow: row;
	flex-wrap: wrap;
}

.hint {
	position: relative;

	width: 10rem;
	height: 10rem;
	margin: .5rem .5rem 0 0;

	border: #222 3px solid;
	border-radius: 5px;

	background-color: #222;
	background-size: cover;
	background-clip: content-box;

	overflow: hidden;
}

.message {
	position: absolute;
	left: 0;
	bottom: 0;

	color: #e74c3c;
	background-color: #fff;

	padding: .5rem;
	border-top-right-radius: 5px;
	box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.2);

	pointer-events: none;
	opacity: .8;
}

.message-error {
	composes: message;

	color: #e74c3c;
}

.mime {
	padding: 1rem 0;
}

.video-thumbnail {
	width: auto;
	height: 100%;
}
